
@{
    ViewBag.Title = "Sklep sportowy - Home";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        h1{
            font-family: Arial, sans-serif; /* Wybierz preferowaną czcionkę. Jeśli nie jest dostępna, użyje się domyślnej czcionki sans-serif */
            font-size: 70px; /* Ustaw wielkość czcionki */
            color: #000000; /* Ustaw kolor tekstu */
            text-align: center; /* Ustawienie wyśrodkowania tekstu. Możesz użyć również 'left' lub 'right' */
            margin-top: 0px; /* Ustawienie marginesu górnego */
            margin-bottom: 80px; /* Ustawienie marginesu dolnego */
        }
        
        .container {
            text-align: center;
            margin-top: 100px; /*testttttttt*/
        }

        .btn {
            margin: 10px;
            padding: 40px 80px;
            font-size: 22px;
            text-decoration: none;
            background-color: #007bff;
            color: #fff;
            border-radius: 10px;
            position: relative;
            overflow: hidden;
            transition: transform 0.3s ease;
        }

            .btn::before {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.3);
                transform: perspective(1000px) rotateX(-90deg);
                transition: transform 0.3s ease;
                pointer-events: none;
            }

            .btn:hover {
                transform: translateY(-5px);
            }

                .btn:hover::before {
                    transform: perspective(1000px) rotateX(0deg);
                }
    </style>
</head>
<body>
    <div class="container">
        <h1> Sklep sportowy </h1>
        <div>
            <a href="@Url.Action("Index","Produkty" )" class="btn">Produkty</a>
            <a href="@Url.Action("Index","Klienci")" class="btn">Klienci</a>
            <a href="@Url.Action("Index","Zamowienia")" class="btn">Zamówienia</a>
            

        </div>
    </div>
</body>
</html>

